
input.form-heading {
  font-size: 150%;
}

input.form-placeholder-text {
  color: #ccc !important;
}

.horizontal-tabs-panes .form-item label {
  display: none;
}

.horizontal-tabs-panes .fieldset-wrapper {
  padding: 0;
}

.horizontal-tabs-panes fieldset.htab {
  margin: 0 0 1em;
}